* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.notes__sidebar {
  width: 400px;
  height: 100vh;
  border-right: 2px solid #ccc;
  padding: 80px;
}

.notes__sidebar input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
}

.notes__sidebar textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
  max-width: 100%;
}

button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #353535;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s all;
}

.notes__sidebar button:hover {
  background-color: #353535d5;
}

.notes__container {
  width: 100%;
  padding: 80px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  background-color: #eee;
  padding: 30px;
  width: 25%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
}

.note h3 {
  margin-bottom: 10px;
  font-size: 13px;
}

.note p {
  max-height: 200px;
  overflow: auto;
  font-size: 13px;
}

.btn-delete {
  background-color: #e74c3c;
}

.notes__sidebar .btn-delete:hover {
  background-color: #e74d3ce5;
}

.hidden {
  display: none;
}

.notes__alert {
  position: absolute;
  width: 100%;
  top: 15px;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.alert-box {
  padding: 15px 20px;
  border-radius: 5px;
}

.success {
  background-color: green;
  color: #f0f0f0;
}

.warning {
  background-color: gold;
  color: #131111;
}

.danger {
  background-color: #e74c3c;
  color: #f0f0f0;
}
