* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.notes__sidebar {
  width: 400px;
  height: 100vh;
  border-right: 2px solid #ccc;
  padding: 80px;
}

.notes__sidebar input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
}

.notes__sidebar textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
  max-width: 100%;
}

.btn {
  margin-bottom: 10px;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s all;
}

.btn:hover {
  opacity: 0.8;
}

.notes__container {
  width: 100%;
  padding: 80px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  background-color: #eee;
  border-radius: 5px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 0.5s all ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.note:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.note-header {
  width: 100%;
  height: 15px;
}

.note-body {
  padding: 15px 30px;
}

.note h3 {
  margin-bottom: 10px;
  font-size: 13px;
  word-wrap: break-word;
}

.note p {
  max-height: 200px;
  overflow-y: auto;
  font-size: 13px;
  word-wrap: break-word;
}

.notes__sidebar .btn-delete:hover {
  background-color: #e74d3ce5;
}

.hidden {
  display: none;
}

.notes__alert {
  position: absolute;
  width: 100%;
  top: 15px;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.alert-box {
  padding: 15px 20px;
  border-radius: 5px;
}

.primary {
  background-color: #0d6efd;
  color: #f0f0f0;
}

.success {
  background-color: #198754;
  color: #f0f0f0;
}

.warning {
  background-color: #ffc107;
  color: #131111;
}

.danger {
  background-color: #dc3545;
  color: #f0f0f0;
}

.primary-note {
  background-color: #0d6dfd3b;
  color: #131111;
}

.success-note {
  background-color: #1987543b;
  color: #131111;
}

.warning-note {
  background-color: #ffc1073b;
  color: #131111;
}

.danger-note {
  background-color: #dc35453b;
  color: #131111;
}

.selected {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
